name: Build WG620443 Final

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04  # 強制使用舊版穩定環境，解決兼容性問題
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch python3 python2.7 unzip zlib1g-dev lib32gcc-s1 libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler g++-multilib antlr3 gperf wget
      
      - name: Update Feeds
        run: |
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Configure
        run: |
          echo "CONFIG_TARGET_mediatek=y" > .config
          echo "CONFIG_TARGET_mediatek_filogic=y" >> .config
          echo "CONFIG_TARGET_mediatek_filogic_DEVICE_arcadyan_wg620443=y" >> .config
          echo "CONFIG_TARGET_ROOTFS_INITRAMFS=y" >> .config
          make defconfig

      - name: Download Libs
        run: make download -j8

      - name: Build Firmware
        run: make -j$(nproc) || make -j1 V=s

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: WG620443-Firmware
          path: bin/targets/mediatek/filogic/*initramfs*.bin
