name: Build Kernel

on:
  workflow_dispatch:
  push:
    paths:
      - 'target/linux/mediatek/**'

permissions:
  contents: read

jobs:
  build-kernels:
    name: Build Kernel
    permissions:
      contents: read
      packages: read
      actions: write
    # 這裡就是關鍵修改：直接指定使用 OpenWrt 官方的工具箱，而不是您帳號下的
    uses: openwrt/actions-shared-workflows/.github/workflows/kernel.yml@main
    with:
      # 強制指定容器 (Container)，解決紅叉叉問題
      container_image: ghcr.io/openwrt/buildbot/buildworker-3.10:latest
